.user__profile {
 background-color: #fcfcfc;
 padding-top: 24px;
 padding-bottom: 24px;
 height: 100%;
}

.user__profile .user__profile-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

/* Loading Avatar */
.profile-img_loading {
    position: absolute;
    background-color: #fcfcfcf8;
  
}
.profile-img_loading svg {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user__profile .user__profile-img .ant-image .ant-image-img, .ant-image-mask{
    border-radius: 50%;
}

.user__profile .user__profile-img .ant-image  .ant-image-mask .ant-image-mask-info {
    font-size: 10px;
   
}
.user__profile-img .ant-image img.ant-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.ant-image-mask .ant-image-mask-info span {
vertical-align: middle;
}

.user__profile-info--img {
    margin-left: 20px;
}
.user__profile-info--img h3 {
    margin-bottom: 0;
    font-size: 22px;
    color: rgb(41, 41, 41);
}

.user__profile-info--img button {
    word-spacing: -1px;
    font-weight: 600;
   color: #0095f6;
   padding-left: 0;
}

.user__profile-info--img button.ant-btn-text:hover, 
button.ant-btn-text:focus, button.ant-btn-text:active {
    background: unset;
    background-color: unset;
    color: #0095f6;
}

/* Hidden Input File */

.user__profile-info--img input.file_avatar {
    display: none;
}

/* ----------- Form -------------- */

.user_profile-form span.ant-form-item-children-icon{
   top: 44%;
}